/* General Theme */

:root {
    --theme-color: #0F172A;
    --hover-color: #1E293B;
    --text-color: #FFFFFF;
}


/* Body */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* Navbar */

.navbar {
    background-color: var(--theme-color);
}

.navbar .nav-link {
    color: var(--text-color);
    transition: color 0.3s;
    font-weight: 700;
}

.navbar .nav-link:hover {
    color: #116f9d;
}

.navbar-brand {
    font-size: 1.5rem;
}


/* Sidebar */

.sidebar {
    width: 250px;
    background-color: var(--theme-color);
    color: var(--text-color);
    min-height: 100vh;
    padding: 20px;
    position: sticky;
    top: 0;
    box-shadow: 0.5px 0rem 1rem 0px #dbeafe0d !important;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
    padding: 5px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: var(--hover-color);
}


/* Main Content */

.content {
    background-color: #0F172A;
    padding: 20px;
    flex: 1;
    color: #ffff;
}


/* Responsive Design */

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .sidebar.show {
        display: block;
        position: fixed;
        z-index: 1000;
        width: 250px;
    }
    .content {
        margin-top: 1px;
    }
}