    /*Details Start*/
    
    @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
     :root {
        --primery-color: #0F172A;
        --contant-color: linear-gradient(to top, #0f172a 0%, #111d39 100%);
        --background-color-2: #0F172A;
    }
    /*Details End*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* Nevbar  Start */
    
    .top-Navbar {
        background-color: var(--background-color-2);
        width: 100%;
        height: 65px;
        box-shadow: 1px 7px 4px 0px #18326f3b;
        position: fixed;
        z-index: 3;
    }
    
    .navbar {
        padding: 0 !important;
        margin: 0 !important;
        font-weight: 500;
    }
    
    .navbar-brand img {
        width: 221px;
        height: 55px;
    }
    
    .navbar-brand {
        padding: 0px;
    }
    
    .nav-item .nav-link {
        color: #ffffff;
        margin-right: 13px;
        display: inline-block;
    }
    
    .nav-item .nav-link.active {
        color: #aca2ff !important;
    }
    
    .nav-item .nav-link:hover {
        color: #a3a3a3;
    }
    
    .navbar-nav {
        margin-left: auto;
    }
    /* Nevbar End */
    /* Top Section Start*/
    
    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    .top-section {
        background-color: var(--background-color-2);
        padding: 182px 20px 200px;
        text-align: center;
        color: white;
        /* position: relative; */
        /* overflow: hidden; */
        /* height: 100vh; */
    }
    
    .top-text {
        position: relative;
        z-index: 1;
        padding-top: 11px;
    }
    
    .top-text h1 {
        font-size: 85px;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 20px;
        font-family: "Roboto Condensed", sans-serif;
        word-spacing: 3px;
        /* padding: 0px 271px; */
    }
    
    .top-text span {
        font-size: 26px;
        font-weight: 600;
        line-height: 2.6;
    }
    
    .top-text p {
        font-size: 18px;
        font-weight: 500;
    }
    
    .top-text p:nth-child(2) {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    /* Search Bar Styling */
    
    .search-bar {
        margin-top: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    
    .search-bar input {
        padding: 13px 20px;
        width: 394px;
        border-radius: 25px;
        border: 2px solid #2563eb;
        outline: none;
        font-size: 1rem;
    }
    
    .search-bar input:focus {
        border-color: #1d4ed8;
        box-shadow: 0 0 10px #2563eb;
    }
    
    .search-bar button {
        padding: 13px 32px;
        background-color: #2563eb;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .search-bar button:hover {
        background-color: #1d4ed8;
    }
    /* Top Section End*/
    /* Service Start */
    
    .ag-format-container h3 {
        text-align: center;
        font-size: 40px;
        color: white;
        margin-bottom: 30px;
        text-decoration-line: underline;
        text-decoration-style: wavy;
    }
    
    .ag-courses-item_btn {
        position: relative;
        z-index: 2;
        font-size: 17px;
        font-weight: 600;
        background-color: black;
        display: inline-block;
        padding: 6px 15px;
        border-radius: 30px;
        margin-bottom: 11px;
        color: #1cc8fe;
    }
    
    .service-img {
        border-radius: 30px;
        width: 38px;
        margin-right: 10px;
    }
    
    .ag-format-container {
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        padding: 50px 15px;
        box-sizing: border-box;
    }
    
    .ag-courses_box {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .ag-courses_item {
        flex-basis: calc(33.33333% - 30px);
        margin: 0 15px 30px;
        overflow: hidden;
        border-radius: 28px;
        border: 0.5px solid #ffffff1c;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }
    
    .ag-courses-item_link {
        display: block;
        padding: 20px 20px 9px;
        background-color: linear-gradient(166deg, #131929, #18233d) !important;
        overflow: hidden;
        position: relative;
        text-decoration: none;
    }
    
    .ag-courses-item_link:hover,
    .ag-courses-item_link:hover .ag-courses-item_title {
        text-decoration: none;
        color: #FFF;
    }
    
    .ag-courses-item_title {
        min-height: 15px;
        margin: 0 0 9px;
        overflow: hidden;
        font-weight: bold;
        font-size: 30px;
        color: #FFF;
        z-index: 2;
        position: relative;
    }
    
    .ag-courses-item_description {
        color: #ffffff;
        z-index: 2;
        position: relative;
        margin-bottom: 10px;
        font-size: 17px;
    }
    
    .ag-courses-item_bg {
        height: 128px;
        width: 128px;
        background-color: #f9b234;
        z-index: 1;
        position: absolute;
        top: -75px;
        right: -75px;
        border-radius: 50%;
        transition: all .5s ease;
    }
    
    .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
        background-color: #3ecd5e;
    }
    
    .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
        background-color: #e44002;
    }
    
    .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
        background-color: #952aff;
    }
    
    .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
        background-color: #cd3e94;
    }
    
    .bg-color {
        background-color: var(--background-color-2);
        padding: 14px 0px 10px 0px;
    }
    /* Service End */
    /* Social Media Start */
    
    .content-wrapper-2 {
        padding-top: 0px;
        background-color: var(--background-color-2);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 67px;
    }
    
    .content-wrapper {
        background-color: var(--background-color-2);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 90px;
        padding-bottom: 21px;
    }
    
    .custom-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "left right-top" "left right-bottom";
        width: 90%;
        max-width: 1250px;
    }
    
    .card {
        background: linear-gradient(166deg, #131929, #18233d);
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 0.5px solid #ffffff1c !important;
    }
    
    .card.left {
        grid-area: left;
    }
    
    .card.right-top {
        grid-area: right-top;
    }
    
    .card.right-bottom {
        grid-area: right-bottom;
    }
    
    .card h3 {
        margin-bottom: 10px;
        font-size: 1.5em;
        color: #ffff;
        font-family: 'Roboto Condensed';
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .card p {
        font-size: 0.9em;
        margin-bottom: 15px;
        color: #ffff;
        font-family: 'Roboto Condensed';
    }
    
    .card button,
    .card a {
        padding: 10px 20px;
        background-color: #0d85cc;
        color: #ffffff;
        text-decoration: none;
        border: none;
        border-radius: 12px;
        text-align: center;
        cursor: pointer;
        font-size: 15px;
        transition: all 0.3s ease-in-out;
        font-weight: 700;
        margin-top: 32px;
    }
    
    .card button:hover,
    .card a:hover {
        background-color: #1770f0;
    }
    
    .card .status {
        color: #0d85cc;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: 'Roboto';
    }
    
    .card .status svg {
        width: 21px;
        height: 20px;
    }
    
    .social-icons {
        width: 24px;
        height: 24px;
    }
    
    #active_member {
        font-size: 15px;
        font-weight: 800;
    }
    
    .social-icons-f {
        display: flex;
        justify-content: center;
        /* Centers the icons horizontally */
        align-items: center;
        /* Centers the icons vertically */
        gap: 25px;
        /* Adds spacing between icons */
        /* height: 100vh; */
    }
    /* Social Media End */
    /* Total Project Element Start */
    
    .stats-container {
        background: var(--background-color-2);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        /* min-height: 60vh; */
        padding: 28px 123px 70px 123px;
    }
    
    .stats-wrapper {
        background: linear-gradient(166deg, #131929, #18233d);
        border-radius: 20px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        padding: 54px 57px;
        width: 100%;
    }
    
    .stat-item {
        text-align: center;
    }
    
    .stat-item h2 {
        font-size: 2.2rem;
        font-weight: bold;
    }
    
    .stat-item p {
        font-size: 1rem;
        color: #aaa;
        font-weight: 700;
    }
    
    .stat-item .icon {
        display: block;
        font-size: 2rem;
        margin-bottom: 10px;
        color: #5c5e6a;
    }
    
    .project-element {
        background-color: var(--background-color-2);
        width: 100%;
        /* height: 71px; */
        box-shadow: 1px 7px 4px 0px #18326f3b;
    }
    /* Total Project Element End */
    /* Footerbar Start  */
    
    .footer {
        background-color: #101a2f;
        /* Footer background */
        color: #fff;
        /* Footer text color */
        padding: 30px 20px;
        text-align: center;
    }
    
    .footer-content h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #fff;
    }
    
    .footer-menu {
        list-style: none;
        padding: 0;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .footer-menu li {
        display: inline;
    }
    
    .footer-menu li a {
        color: #ffffff;
        /* Light green color */
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }
    
    .footer-menu li a:hover {
        text-decoration: none;
    }
    
    .social-icons {
        margin: 2px 0;
    }
    
    .social-icons a {
        color: #9edb85;
        /* Icon color */
        margin: 0 10px;
        font-size: 18px;
        transition: color 0.3s ease;
    }
    
    .social-icons a:hover {
        color: #fff;
        /* Change icon color on hover */
    }
    
    .footer-copyright {
        margin-top: 15px;
        font-size: 12px;
        color: #ffffff;
        font-size: 16px;
    }
    
    .footer-copyright a {
        color: #00ffde;
        text-decoration: none;
    }
    
    .social-icons-f a i {
        font-size: 22px;
        color: #16337e;
        transition: transform 0.3s ease;
    }
    
    .social-icons-f a i:hover {
        transform: scale(1.2);
        color: #0000ff;
    }
    /* Footerbar End */
   